<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project.photoapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <style
            android:name="AppTheme"
            parent="@style/Theme.AppCompat.Light.NoActionBar">
            ...
            <item name="windowNoTitle">
                true
            </item>
            <item name="android:windowNoTitle">
                true
            </item>
        </style>

        <!-- Splash Screen Activity-->
        <activity android:name=".SplashScreen">
            <intent-filter>

                <!-- Main Editor Page Activity-->
                <action android:name="android.intent.action.MAIN" />

                <!-- Launcher Activity-->
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        <!-- Load Image Page Activity-->
        <activity android:name=".Loader" />

        <!-- Recent Image Gallery Activity-->
        <activity android:name=".RecentImages" />

        <!-- FX Filter Activity-->
        <activity android:name=".EffectsFilterActivity" />

        <!-- Transform tools Activity-->
        <activity android:name=".Transform" />

        <!-- Base Editor Class Activity-->
        <activity android:name=".BaseEditor" />

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>